*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(90deg, #4776E6 0%, #8E54E9 100%);
    min-height: 100vh;
}
.container{
    position: relative;
    height: 600px;
    display: flex;
    align-items: center;
}
.container-wibe{
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
}
.container-text{
    color: #fff;
    flex-basis: 50%;
    padding-left: 40px;
    font-weight: 700;
    overflow: hidden;
}
.titulo{
    font-size: 60px;
}
.subtitulo{
    font-size: 30px;
    font-weight: 500;
    margin: 20px 0;
}
.cta{
    display: inline-block;
    text-align: center;
    width: 150px;
    padding: 15px 0;
    border-radius: 5px;
    background: #fff;
    text-decoration: none;
    color: #4776E6;
}
.cta:active{
    transform: scale(.8);
    /* background: #a456c4; */
}
.container-img{
    position: relative;
    flex-basis: 50%;
    z-index: 20;
    overflow: hidden;
    text-align: center;
}
.img{
    animation: ilustationAnimate ease-in 1s infinite alternate;
    width: 95%;
}

/* RESPONSIVE!! */
@media screen and (max-width: 800px){
    .container{
        flex-direction: column-reverse;
    }
    .container-wibe{
        width: 70%;
    }
    .container-text{
        display: flex;
        flex-direction: column;
        padding-left: 0;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-basis: 40%;
    }
    .titulo{
        font-size: 40px;
    }
    .subtitulo{
        font-size: 20px;
    }
    .container-img{
        flex-basis: 60%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img{
        height: 90%;
    }
}

@media screen and (max-width: 500px){
    .container-wibe{
        width: auto;
        height: 70%;
    }
    .container-text{
        flex-basis: 40%;
        justify-content: flex-start;
    }
    .titulo{
        font-size: 30px;
    }
    .subtitulo{
        font-size: 17px;
    }
}

@keyframes ilustationAnimate {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.04);
    }

}